.messageStreamContainer {
    padding-top: 50px;
}
.messageStream {
    display: flex;
}

.message {
    min-width: 300px;
    max-width: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 1;
}
  
.message.addUrlStyle {
    cursor: pointer;
    color: white;
    text-decoration: underline;
}

.urlArrow {
    padding-left: 5px;
}

.rightMessage {
    padding-left: 50px;
}

.responseText {
    color: #D0D0D0;
}

.responseText.addUrlStyle {
    cursor: pointer;
    text-decoration: underline;
} 

.responseAndSubresponses {
    border: 1px solid black;
    z-index: 1;
    padding: 15px;
    cursor: pointer;
}
.responseAndSubresponses:hover {
    background-color: #1F2027;
}

.responseContainer {
    display: flex;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #D0D0D0;
    opacity: 0;
    animation: fadeIn ease 1s forwards;
    position: relative;
    z-index: 10;
}
  
@media only screen and (max-width: 600px) {
    .messageStream {
      flex-direction: column;
    }
    .rightMessage {
      padding-left: 0;
    }
    .addMargin {
      margin-left: 0;
    }
}

.readMore {
    padding-top: 10px;
    font-size: 18px;
    color: rgb(122, 160, 248);
    cursor: pointer;
    font-family: sans-serif;
    position: relative;
    z-index: 2;
}

.readMoreResponses {
    display: flex;
    align-items: center;
    opacity: 0;
    animation: fadeIn ease 0.1s forwards;
    animation-delay: 5s;
    position: relative;
    z-index: 2;
}

.expand {
    padding-top: 10px;
    padding-left: 10px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
    }