.cursorContainer {
  position: relative;
}

.cursor {
  /* render relative to cursorContainer */
  position: absolute;
  width: 100px;
  height: 30px;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
  .cursor {
    display: none;
  }
}
