.invitationFormContainer {
    padding-bottom: 100px;
    opacity: 0;
    animation: fadeIn ease 1s forwards;
}

.invitationText {
    margin-top: 200px;
    margin-bottom: 10px;
}

.quickquestion {
    display: flex;
    justify-content: space-between;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}