.navbar {
    border-radius: 30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    cursor: pointer;
}
.navbar:hover {
    background-color: white;
    color: black;
    border-radius: 30px;
}