/* reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  margin-top: 30px;
  font-family: serif;
  background: black;
  color: white;
  font-size: 30px;

  animation: fadeInAnimation ease 9s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

form {
  display: flex;
}

main {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  position: relative;
}

h1 {
  text-align: center;
  margin-bottom: 8px;
  font-size: 1.8em;
  font-weight: 500;
}

.badge {
  text-align: center;
  margin-bottom: 16px;
}
.badge span {
  background-color: #212529;
  color: #ffffff;
  border-radius: 6px;
  font-weight: bold;
  padding: 4px 8px 4px 8px;
  font-size: 0.75em;
}

ul {
  margin: 8px;
  border-radius: 8px;
  border: solid 1px lightgray;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

input:not([type]) {
  padding: 12px 0;
  color: white;
  border-bottom: solid 1px rgb(206, 212, 218);
  font-size: 16px;
  background: none;
  min-width: 250px;
}

input[type='submit'],
button {
  background: lightblue;
  color: white;
  padding: 6px 12px 6px 12px;
  font-size: 16px;
  background-color: rgb(49, 108, 244);
}

input[type='submit']:hover,
button:hover {
  background-color: rgb(41, 93, 207);
}

input[type='submit']:disabled,
button:disabled {
  background-color: rgb(122, 160, 248);
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: rgb(122, 160, 248);
}

@media only screen and (max-width: 600px) {
  form {
    flex-direction: column;
  }
}