.messageStream {
  padding-top: 50px;
  display: flex;
}

.invitationText {
  margin-top: 50px;
  margin-bottom: 10px;
}

.message {
  min-width: 300px;
  max-width: 300px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.responseText {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #D0D0D0;
}

.responseText.addUrlStyle {
  cursor: pointer;
  text-decoration: underline;
} 

.rightMessage {
  padding-left: 50px;
}

.urlArrow {
  padding-left: 5px;
}

.addMargin {
  margin-left: 15px;
}

.formNotice {
  color: rgb(122, 160, 248);
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .messageStream {
    flex-direction: column;
  }
  .rightMessage {
    padding-left: 0;
  }
  .addMargin {
    margin-left: 0;
  }
}

.invalidUrl {
  font-size: 15px;
}